<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Banking Management System</title>

    <link rel="stylesheet"
          href="/static/css/style.css">

</head>

<body>

<div class="container">

    <div class="card">

        <h1>🏦 Banking Management System</h1>

        <p>Welcome to the Banking Management System</p>

        <a href="/login">
            <button>Login</button>
        </a>

        <a href="/register">
            <button>Register</button>
        </a>

    </div>

</div>

</body>

</html>